/* body {
    background-image: url('../img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */

.color-primario {
    background-color: rgb(31,41,55);
    color: white;
}

.color-secundario {
    background-color: rgb(2, 98, 223);
    color: white;
}

.img-post{
    position: relative;
    padding-bottom: 56.26%;
}

.img-post img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.checkbox {
    width: 15px;
    height: 15px;
    border: 3px solid rgb(139, 139, 139);
    border-radius: 6px;
    margin-top: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.175s;
    -webkit-transition: all 0.175s;
    -moz-transition: all 0.175s;
    -ms-transition: all 0.175s;
    -o-transition: all 0.175s;
}

.label-check {
    cursor: pointer; 
}

.input-check:checked ~ .checkbox {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 10px;
    height: 20px;
    margin-left: 5px;
    margin-top: 0px;
    border-color: rgb(2, 98, 223);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.input-check {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
   
button.calculate {
    width: 16rem;
    height: auto;
}
   
button.calculate .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    /* background: #282936; */
    border-radius: 1.625rem;
}
   
button.calculate .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
   
button.calculate .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.calculate .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
   
button.calculate .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    /* color: #282936; */
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
   
button:hover .circle {
    width: 100%;
}
   
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  /* button svg {
    display: block;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
            animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
        -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
            transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    -webkit-transform: translateX(5em);
        -ms-transform: translateX(5em);
            transform: translateX(5em);
  }
  
  button:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  
  @-webkit-keyframes fly-1 {
    from {
      -webkit-transform: translateY(0.1em);
              transform: translateY(0.1em);
    }
  
    to {
      -webkit-transform: translateY(-0.1em);
              transform: translateY(-0.1em);
    }
  }
  
  @keyframes fly-1 {
    from {
      -webkit-transform: translateY(0.1em);
              transform: translateY(0.1em);
    }
  
    to {
      -webkit-transform: translateY(-0.1em);
              transform: translateY(-0.1em);
    }
  } */
  
  
/* Button color */
.blue-color {
    background-color: rgb(198, 227, 255);
    color:  rgb(0, 113, 227);
}

.green-color {
    background-color: rgb(210, 235, 210);
    color: rgb(67, 134, 67);
}

.red-color {
    background-color: rgb(245, 199, 199);
    color: rgb(206, 73, 73);
}

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

.iconos-color-secundario {
    color: rgb(2, 98, 223);
}

.border-color-secundario {
    border-color: rgb(2, 98, 223);
}

.color-logo {
    background: rgb(31,41,55);
    background: -moz-linear-gradient(180deg, rgba(31,41,55,1) 0%, rgba(2,98,223,1) 35%, rgba(241,245,249,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(31,41,55,1) 0%, rgba(2,98,223,1) 35%, rgba(241,245,249,1) 100%);
    background: linear-gradient(180deg, rgba(31,41,55,1) 0%, rgba(2,98,223,1) 35%, rgba(241,245,249,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.personal-border {
    border: 1px solid rgb(219, 219, 219);
}


/* Removing the up and down arrows from the input type number. */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

input[type=number] { -moz-appearance:textfield; }
/* End */

/* Clases para las Sweet Alerts Toastr */

.colored-toast.swal2-icon-success {
    background-color: rgb(210, 235, 210) !important;
    color: rgb(67, 134, 67) !important;
    padding: 8px !important;
    box-shadow: 0px 0px 0px #000000 !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.colored-toast.swal2-icon-error {
    background-color: rgb(245, 199, 199) !important;
    color: rgb(206, 73, 73) !important;
    padding: 8px !important;
	box-shadow: 0px 0px 0px #000000 !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
    padding: 8px !important;
	box-shadow: 0px 0px 0px #000000 !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.colored-toast.swal2-icon-info {
    background-color: rgb(198, 227, 255) !important;
    color:  rgb(0, 113, 227) !important;
    padding: 8px !important;
	box-shadow: 0px 0px 0px #000000 !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
    padding: 8px !important;
	box-shadow: 0px 0px 0px #000000 !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

/* .colored-toast .swal2-title {
    color: white;
} */

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

@media (max-width: 476px){
    
    .hidden-letters{display: none;}
    .navSticky{
        position: sticky;
        top: 0;
        border: 0;
    }
}